<html>
    <head>
        <title>Rock Climbing Fun</title>    
        <meta charset="utf-8"/>
        <style>
     
        </style> 
    </head>
<body>
    <header style="text-align: center">
        <img src="rockclimber.jpeg" width="450" height="300" alt="Rock climber">
        <h1 style="font-family: Garamond; color: navy">
            Rock Climbing Is Fun
        </h1>
    </header>

    <section>
        <article>
            <p>Rock climbing Fun has recently opened a school at the base of Mount Rainer. 
            	We have programs for advanced rock climbers as well as for beginners- Rock Climbing is a widley popular sport, 
            	especialy at the state of Whasington. Classes are from early morning to mid-afternoon and private climbing lessons are awailable. 
            	Came join our classes and expirience the fun and great exercisses the rock climbing can provide. 
            	Call 1-33-22111 for more information</p>
        <h2 style="color:#384738">Equipment nedeed to get sarted</h2>

        <ul style="list-style-type: square">
            <li>Comfortable climbing shoes</li>
            <li>Backpack</li>
            <li>Harness</li>
        </ul>
        </article>
        
    </section>
    <hr style="height: 8px; background-color:#384738; width:50%"/>
    <footer style="text-align: center; font-style:italic">
        Rock Climbing Fun, 3737 Harings Lane, Isawak 63. 9887
    </footer>
</body>
</html>
