<!DOCTYPE html>
{% load staticfiles %}
{% load  mytags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>List of exercises</title>


    <link rel="stylesheet" type="text/css"
        href="{% static 'exercises/main_styles.css' %}" />
    <link rel="stylesheet" type="text/css"
        href="{% static 'exercises/exercise_list.css' %}" />
    <style>
        {% block page_styles%}
        {% endblock page_styles %}
    </style>
</head>
<body>

    <header>
    {% block header %}
    {% if language %}
        <h1>VAJE IZ {{ language.description }}</h1>
    {% else %}
        <h1>VAJE IZ SLOVNICE</h1>
    {% endif %}

    <ul class="nav">
        <li><a href="{% url 'select_language' %}">Domov</a></li>
        <li><a href="#">Prijava</a></li>
        <li><a href="#">Registracija</a></li>
    </ul>

    {% endblock header %}
    </header>

    <aside>
    {% block sidenav %}
        {% get_subject_list language %}
    {% endblock sidenav %}
    </aside>

    <article>
    {% block main_content %}
    {% endblock main_content %}
    </article>

    {% block footer %}
    <footer>
        Napis, ki je vedno na dnu strani.
    </footer>
    {% endblock footer %}
</body>
</html>