{% extends "exercises/base.html" %}
{% load staticfiles %}
{% load static %}

{%  block page_styles %}
    textarea {
        width: 800px;
        height: 400px;
        border: 3px solid #cccccc;
	    padding: 5px;
	    font-family: Tahoma, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }

    input, select {
        font-size: 18px;
    }

    .submit-button {
        text-align:left;
    }

    td {
        vertical-align: top;
    }

    tr {
        line-height: 15px;
    }

    .top_fields, .exercise_name, .exercise_label {
        margin-bottom: 10px;
        font-family: Tahoma, sans-serif;

    }

    h2 {
        margin-bottom: 20px;
        color: blue;
    }


{%  endblock page_styles %}


{% block main_content %}
    <div class="container">
    <h2>{{ nova_tema }}</h2>
    </div>
    <div>
    <form action="{{ action }}" method="post">
        {% csrf_token %}
            <div class="top_fields">
                {{form.language.label_tag }} {{ form.language }}
            </div>
            <div class="top_fields">
                {{form.subject.label_tag }} {{ form.subject }}
            </div>
        <div class="submit-button">
        <input class="submit" type="submit" value="{{ Create }}"/>
        </div>
    </form>
    </div>
{% endblock main_content %}
