{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static '_css/app_design.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block page_styles %}
    {% endblock page_styles %}

</head>

<body>
   {% block page_content %}
   <h1>Project base page</h1>
   {% endblock page_content %}

   <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
   <script src="{% static '_js/underscore.js' %}"></script>
   <script src="{% static '_js/backbone.js' %}"></script>
   <script src="{% static '_js/backbone.localStorage.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block page_scripts %}
    {% endblock page_scripts %}
</body>

</html>
