{% load webdesign %} 
{% comment %}
    webdesign uporabim za lorem ipsum
{% endcomment %}


<div class="jumbotron">
    <h1>Wellcome to the site</h1>
    <p>Insert marketing copy there</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About left</h2>
            <p>{% lorem %}</p>
            <p>
                <a class="btn btn-default" href="{% url 'page' 'contact' %}">
                    Contact us
                </a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>About right</h2>
            <p>{% lorem %}</p>
            <p>
                <a class="btn btn-default" href="{% url 'page' 'contact' %}">
                    Contact us
                </a>
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>&copy; Your Company {% now 'Y' %}</p>
    </div>
</footer>
