{% extends "myforms/base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-7 col-sm-10">


    <table class="table table-striped">
        <caption>
            <a href="{% url  'language_add' language=language.language %}">
            <span class="glyphicon glyphicon-plus"/>
            </a>
                List of Languages
        </caption>

        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
        </thead>



        {% for l in language_list %}
            <tr>
                <td>
                    {{ l.language }}
                </td>
                <td>
                    {{ l.description }}
                </td>

                <td class align="right">
                       <a class="btn-table btn-edit"
                       type="button"
                       href="{% url 'language_edit' language=language.language pk=l.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>

    </div> <!--container-fluid-->
    </div> <!--row-->
    </div> <!--class = "col-md-7 col-xs-12"-->
{% endblock main_content %}