{% extends "myforms/base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-7 col-xs-12">
    <h3>Edit the Subject</h3>
    <h2>{{ nova_vaja }}</h2>


    <form action="{{ action }}" method="post">
        {% csrf_token %}
        {{  form|crispy }}
        <input class="btn btn-primary" type="submit" value="Save{{ save }}"/>
        <a role="button"
           class="btn btn-default"
            href = "{% url 'subjects_list' language=language.language %}">
            Cancel
        </a>
    </form>
    </div> <!--class=row-->
    </div> <!--col-md-8-->
    </div> <!--contaiber-flluid-->
{% endblock main_content %}