{% extends "invoices/base.html" %}
{% load crispy_forms_tags %}

{% block main_content%}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <caption>
                    <a href="{% url 'skupina_artikla_add' %}">
                    <span class="glyphicon glyphicon-plus"/>
                    </a>
                        &nbsp Seznam skupin artiklov v trgovini
                </caption>
                <thead>
                    <tr>
                        <th>Naziv</th>
                    </tr>
                </thead>
                {% for skupina in seznam_skupin_artiklov %}
                    <tr>
                        <td>{{ skupina.naziv }}</td>
                        <td class align="right">
                            <a class="btn-table btn-edit"
                                    type="button"
                                    href = "{% url 'skupina_artikla_edit' pk=skupina.id %}"
                                                               type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn-table btn-delete"
                                    type="button"
                                    href = "{% url 'skupina_artikla_edit' pk=skupina.id %}"
                                                               type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock main_content %}